<!-- project/templates/project/base.html
    File: base.html
    Author: Ethan Machleder (emach@bu.edu) April 14, 2025
    Description: 
-->

{% load static %}

<html>
  <head>
    <title>PocketTraders</title>
    <link rel="stylesheet" href="{% static 'project/css/styles.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-logo">
          <img
            src="{% static 'project/logo.webp' %}"
            alt="PocketTraders Logo"
          />
        </div>

        <div class="navbar-links">
          <ul>
            <li>
              <a href="{% url 'catalog' %}" class="navbar-button">My Cards</a>
            </li>
            <li>
              <a href="{% url 'packs' %}" class="navbar-button">Open Packs</a>
            </li>
            <li>
              {% with request.user.pocketprofile_set.first as pocketprofile %}
              <a href="{% url 'trade' pocketprofile.pk %}" class="navbar-button"
                >Trade Hub</a
              >
              {% endwith %}
            </li>
          </ul>
        </div>

        <div class="navbar-profile">
          <form method="POST" action="{% url 'logout' %}" class="logout-form">
            {% csrf_token %}
            <input type="submit" value="Log Out" class="logout-button" />
            <input type="hidden" name="next" value="{% url 'login' %}" />
          </form>
          <a href="{% url 'profile' %}" class="profile-link">
            {% with request.user.pocketprofile_set.first as p %}
            <!-- prettier ignore -->
            {% if p.profile_image_url %}
            <img
              class="profile-image"
              src="{{p.profile_image_url}}"
              alt="{{p.profile_image_url}}"
            />
            {% else %} {{ request.user }} {% endif %} {% endwith %}
          </a>
        </div>
      </nav>
    </header>

    <!-- Content block where individual pages will render their unique content -->
    {% block content %} {% endblock %} {% block extra_scripts %} {% endblock %}
  </body>
</html>
