<!-- project/templates/project/friend_suggestions.html
    File: friend_suggestions.html
    Author: Ethan Machleder (emach@bu.edu) April 27, 2025
    Description: 
-->

{% extends 'project/base.html' %} {% block content %}

<main class="container">
  <h1>Potential Friends</h1>

  <table class="trade-table">
    {% for p in profile.get_friend_suggestions %}
    <tr>
      <td class="left-align">
        <a href="{% url 'pocket_profile' p.id %}">
          <div class="profile_icon">
            {% if p.profile_image_url %}
            <img
              class="profile-image"
              src="{{p.profile_image_url}}"
              alt="{{p.profile_image_url}}"
            />
            {% endif %}
          </div>
        </a>
      </td>

      <td class="left-align">
        <h2>{{p.user}}</h2>
      </td>
    </tr>
    {% endfor %}
  </table>
</main>
{% endblock %}
