<!-- project/templates/project/login.html
    File: login.html
    Author: Ethan Machleder (emach@bu.edu) April 14, 2025
    Description: 
-->

{% load static %}

<html>
  <head>
    <title>PocketTraders</title>
    <link rel="stylesheet" href="{% static 'project/css/styles.css' %}" />
  </head>
  <body>
    <header>
      <nav></nav>
    </header>

    <div class="container">
      <br />
      <h1>PocketTraders Login</h1>

      <form method="POST" class="catalog-form" action="{% url 'login' %}">
        {% csrf_token %}
        <fieldset>
          <legend>Username</legend>
          {{ form.username }}
        </fieldset>

        <fieldset>
          <legend>Password</legend>
          {{ form.password }}
        </fieldset>

        <input type="submit" value="Login" />
        <a href="{% url 'register' %}">Register</a>

        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        {% else %}
        <input type="hidden" name="next" value="{% url 'profile' %}" />
        {% endif %}
      </form>
    </div>
  </body>
</html>
