<!-- project/templates/project/trade_hub.html
    File: trade_hubs.html
    Author: Ethan Machleder (emach@bu.edu) April 27, 2025
    Description: This template is used to display a user's friends and trades
    on the trade hub page. It shows a list of friends with options to trade,
    view friend suggestions, and view trade requests. Additionally, it displays
    ongoing and completed trades, along with options to manage or finalize trades.
-->

{% extends 'project/base.html' %} {% load static %} {% block content %}

<main class="container">
  <!-- Section for displaying the user's friends -->
  <h2>{{profile}}'s Friends</h2>
  <hr />
  <table>
    {% for friend in profile.get_friends %}
    <tr>
      <table class="trade-table">
        <tbody>
          <tr>
            <!-- Profile picture and link to the friend's profile -->
            <td class="left-align">
              <a href="{% url 'pocket_profile' friend.id %}">
                <div class="profile_icon">
                  {% if friend.profile_image_url %}
                  <img
                    class="profile-image"
                    src="{{friend.profile_image_url}}"
                    alt="{{friend.profile_image_url}}"
                  />
                  {% endif %}
                </div>
              </a>
            </td>

            <!-- Display the friend's username -->
            <td class="left-align">
              <h2>{{friend.user}}</h2>
            </td>

            <!-- Link to initiate a trade with the friend -->
            <td class="right-align">
              <a href="{% url 'trade_options' 0 profile.pk friend.pk %}"
                >Trade</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </tr>
    {% endfor %}
  </table>

  <!-- Links for viewing friend suggestions and friend requests -->
  <div>
    <a href="{% url 'friend_suggestions' %}">View Friend Suggestions</a>
    <a href="{% url 'friend_requests' %}">View Friend Requests</a>
  </div>
  <hr />

  <!-- Section for displaying the user's trades -->
  <h2>{{profile}}'s Trades</h2>
  <hr />
  <table>
    {% for trade in profile.get_trades %}
    <tr>
      <table class="trade-table">
        <thead>
          <tr>
            <th class="left-align">{{trade.profile1}} Sends</th>
            <th class="left-align">{{trade.profile2}} Sends</th>
            <th class="right-align">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- Display the card that profile1 is sending -->
            <td class="left-align">
              {% if trade.card1 %}
              <div class="profile_icon">
                <img
                  class="profile-image"
                  src="{{trade.card1.card.card_image_url}}"
                  alt="{{trade.card1.card.card_image_url}}"
                />
              </div>
              {% else %}
              <div class="profile_icon">
                <img
                  class="profile-image"
                  src="{% static 'project/card_back.webp' %}"
                  alt="card_back.webp"
                />
              </div>
              {% endif %}
            </td>

            <!-- Display the card that profile2 is sending -->
            <td class="left-align">
              {% if trade.card2 %}
              <div class="profile_icon">
                <img
                  class="profile-image"
                  src="{{trade.card2.card.card_image_url}}"
                  alt="{{trade.card2.card.card_image_url}}"
                />
              </div>
              {% else %}
              <div class="profile_icon">
                <img
                  class="profile-image"
                  src="{% static 'project/card_back.webp' %}"
                  alt="card_back.webp"
                />
              </div>
              {% endif %}
            </td>

            <!-- Actions for managing the trade (Accept, Decline, Cancel) -->
            <td class="right-align">
              {% if trade.cancelled %}
              <p>Canceled</p>
              {% elif trade.rcv_acc == True and trade.send_acc == True %}
              <p>Completed</p>
              {% elif trade.profile1 == profile and trade.rcv_acc == False %}
              <p>Waiting</p>
              {% elif trade.profile2 == profile and trade.send_acc == False %}
              <p>Waiting</p>
              {% elif trade.rcv_acc and trade.profile2 != profile %}
              <a href="{% url 'trade_finalize' trade.pk %}">Accept Trade</a>
              {% else %}
              <a href="{% url 'trade_add' trade.pk %}">Manage Trade</a>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </tr>
    {% endfor %}
  </table>
</main>

{% endblock %}
