body {
  margin: 0;
  font-family: "Monaco", monospace;
  background: #d1dedd;
}

/* GENERAL CONTAINER */

.container {
  width: 80%;
  justify-self: center;
}

/* NAVBAR STYLING */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c81515;
  color: #fff;
  border-color: black;
}

.navbar-logo img {
  /* height: 80px; */
  height: 5rem;
}

.navbar-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-links ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-button {
  /* padding: 10px 15px; */
  padding: 1rem 1.5rem;
  text-decoration: none;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-button:hover, .logout-button:hover {
  background-color: #fe8080;
}

.navbar-profile {
  display: flex;
  align-items: center;
}

.logout-form {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 20px;
  font-size: 1rem;
  font-family: "Monaco", monospace;
}

.logout-button {
  padding: 1rem 1.5rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.profile-link img {
  /* width: 60px; */
  /* height: 60px; */
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.profile-link:hover img {
  border-color: #f44336; 
}

/* CATALOG CARD GRID */

.card-grid {
  width: 100%;
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(auto-fit, minmax(185px, 200px));
  gap: 1rem;
  justify-content: center;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.greyscale {
  filter: grayscale(100%);
  opacity: 0.7;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid #aaa;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 183px;
  transition: all 0.3s ease;
}

.card-count {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  border: 2px solid #aaa;
  border-radius: 8px;
}

/* CARD MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* PROFILE IMAGE */

.profile-image {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

/* CATALOG FORM */

.filter-toggle {
  margin-bottom: 1rem;
}

.collapsible-toggle {
  background-color: #eee;
  border: none;
  padding: 10px 16px;
  font-size: 1rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  text-align: center;
}

.collapsible-toggle:hover {
  background-color: #ddd;
}

.collapsible-form {
  display: none;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
}

.catalog-form {
  font-family: "Monaco", monospace;
  background: #edf2f1;
  padding: 1rem;
}

form fieldset {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 6px;
}

form fieldset legend {
  font-weight: bold;
  padding: 0 0.2rem;
}

form fieldset div {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  gap: 0.2rem;
}

form fieldset div div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

/* PACK SELECT + PACK OPENED */

.pack-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}

.pack-radio {
  display: none;
}

.pack-label {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 0.5rem;
  transition: border-color 0.2s, transform 0.2s;
  text-align: center;
}

.pack-label img {
  width: 170px;
  height: 300px;
  object-fit: scale-down;
  display: block;
  margin-bottom: 0.5rem;
  border-radius: 6px;
}

.pack-radio:checked + .pack-label {
  border-color: #f44336; 
  transform: scale(1.1);
  background-color: #f0fdfa;
}

.pack-name {
  font-weight: bold;
  font-size: 1rem;
}

.open-button {
  padding: 1rem 1.5rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Monaco", monospace;
  text-align: center;
  display: block;
  margin: 2rem auto 0 auto;
}

.open-button:hover {
  background-color: #fe8080;
}

.card-opened-header {
  text-align: center;
}

/* REGISTER FORM */
.register-table {
  text-align: left;
  padding: 0.5rem;
}

.register-table th {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.register-table span {
  font-size: 0.9rem;
}

/* TRADE HUB */
.trade-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.trade-table th,
.trade-table td {
  width: 33%;
  padding: 0.75rem;
  vertical-align: middle;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}