<!-- mini_fb/templates/mini_fb/base.html
    File: base.html
    Author: Ethan Machleder (emach@bu.edu) Feb 21, 2025
    Description: The base HTML structure for the Mini FB web application. 
    This template includes a header with navigation links and a placeholder
    for content.
-->

{% load static %}

<html>
  <head>
    <!-- Page title and stylesheet link -->
    <title>Mini FB</title>
    <link rel="stylesheet" href="{% static 'mini_fb/css/styles.css' %}" />
  </head>
  <body>
    <header>
      <!-- Main header of the page with site title -->
      <h1>Mini FB</h1>

      <!-- Navigation bar with links to different sections of the site -->
      <nav>
        <ul>
          <!-- Link to the 'Home' page (showing all profiles) -->
          <li><a href="{% url 'show_all_profiles' %}">Home</a></li>

          <!-- Link to the 'Create Profile' page -->
          <li><a href="{% url 'create_profile' %}">Create Profile</a></li>

          <!-- URLs for logged in users only -->
          {% if request.user.is_authenticated %}
          <li>
            <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <input type="submit" value="Log out" />
              <input
                type="hidden"
                name="next"
                value="{% url 'show_all_profiles' %}"
              />
            </form>
          </li>

          <li>
            <a href="{% url 'show_profile' request.user.profile_set.first.pk %}"
              >Profile</a
            >
          </li>

          <!-- URLs for users who are not logged in -->
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>

        <!-- show who's logged in -->
        {% if request.user.is_authenticated %} Logged in user: {{ request.user}}
        {% else %} Not logged in {% endif %}
      </nav>
    </header>

    <!-- Content block where individual pages will render their unique content -->
    {% block content %} {% endblock %}
  </body>
</html>
