<!-- mini_fb/templates/mini_fb/create_profile_form.html
    File: create_profile_form.html
    Author: Ethan Machleder (emach@bu.edu) Feb 28, 2025
    Description: This template displays the HTML form to create a new Profile object.
-->

{% extends 'mini_fb/base.html' %} {% block content %}
<!-- Page heading for creating a new profile -->
<h1>Create a Profile</h1>

<!-- Start of the form to create a new profile -->
<form action="{% url 'create_profile' %}" method="POST">
  <!-- CSRF token to prevent cross-site request forgery attacks -->
  {% csrf_token %}

  <h2>Account Information</h2>
  <table>
    <!-- Render form fields as a table -->
    {{user_form.as_table}}
  </table>

  <h2>Profile Information</h2>
  <table>
    <!-- Render form fields as a table -->
    {{form.as_table}}
  </table>

  <!-- Submit button for the form -->
  <input type="submit" name="submit" value="Submit" />
</form>
{% endblock %}
