<!-- mini_fb/templates/mini_fb/show_profile.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<main class="grid-container">
  <article class="featured">
    {% if profile.profile_image_url %}
    <img
      src="{{profile.profile_image_url}}"
      alt="{{profile.profile_image_url}}"
    />
    {% endif %}

    <div>
      <h2>{{profile.fname}} {{profile.lname}}</h2>
      <p>Email: {{profile.email}}</p>
      <p>City: {{profile.city}}</p>
    </div>
    <h3>
      <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
    </h3>
  </article>

  <div>
    <h2>Status Messages</h2>
    <h3>
      <a href="{% url 'create_status' profile.pk %}">Create Status</a>
    </h3>
    <!-- Display the status messages about this profile -->
    {% for message in profile.get_status_messages %}
    <div>
      {% for img in message.get_images %}
      <img
        class="status-message-image"
        src="{{img.image_file.url}}"
        alt="{{img.image_file.url}}"
      />
      {% endfor %}
      <p>{{message.message}} </br> {{message.timestamp|date:"M d, Y H:i"}}</p>
      <table>
        <tr>
          <td><a href="{% url 'delete_status' message.pk %}">Delete</a></td>
          <td><a href="{% url 'update_status' message.pk %}">Update</a></td>
        </tr>
      </table>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
