<!-- mini_fb/templates/mini_fb/show_profile.html -->
{% extends 'mini_fb/base.html' %}
<h1>{{article.title}}</h1>

{% block content %}
<main class="grid-container">
  <article class="featured">
    {% if profile.profile_image_url %}
    <img
      src="{{profile.profile_image_url}}"
      alt="{{profile.profile_image_url}}"
    />
    {% endif %}

    <div>
      <h2>{{profile.fname}} {{profile.lname}}</h2>
      <p>Email: {{profile.email}}</p>
      <p>City: {{profile.city}}</p>
    </div>
  </article>
</main>
{% endblock %}
