<!-- mini_fb/templates/mini_fb/update_profile_form.html
    File: update_profile_form.html
    Author: Ethan Machleder (emach@bu.edu) Mar 7, 2025
    Description: This template displays a form to update a user's profile,
    including their personal details and profile image.
-->

{% extends 'mini_fb/base.html' %} {% block content %}
<!-- Heading for the profile update form -->
<h2>Update Profile</h2>

<!-- Form to submit the updated profile information -->
<form method="POST" enctype="multipart/form-data">
  <!-- CSRF token for security -->
  {% csrf_token %}

  <!-- Customized table layout for the form fields -->
  <table>
    {% for field in form %}
    <tr>
      <!-- Display the field name and its corresponding input field -->
      <th>{{field.name}}</th>
      <td>{{field}}</td>
    </tr>
    {% endfor %}
    <!-- Submit button for updating the profile -->
    <tr>
      <td></td>
      <td>
        <input type="submit" name="update_profile" value="Update Profile" />
      </td>
    </tr>
  </table>
</form>

<!-- Cancel button to return to the user's profile page without updating -->
<form action="{% url 'show_profile' profile.pk %}" method="GET">
  {% csrf_token %}
  <input type="submit" value="Cancel" />
</form>

{% endblock %}
