/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2 {
  color: #808a94;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Header and Navigation */
header {
  background-color: #34495e;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Centers the navigation links horizontally */
}

nav ul li {
  margin: 0 20px; /* Adds space between links */
}

nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #3498db;
}

/* Forms */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

form input, form select, form button {
  padding: 8px;
  margin: 5px;
  font-size: 14px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
}

/* Pagination */
.pagination {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.pagination li {
  display: inline;
  margin: 5px;
}

.pagination li a {
  text-decoration: none;
  padding: 8px 12px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
}

.pagination li a:hover {
  background-color: #2980b9;
}

/* Graphs */
.graph-container {
  margin-top: 30px;
}

.graph-container h2 {
  margin-top: 20px;
}

.graph-container div {
  margin-bottom: 40px;
}

/* Voter Details */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 8px 0;
}

ul li strong {
  color: #2c3e50;
}

a {
  color: #3498db;
}

a:hover {
  text-decoration: underline;
}
